<br/>
<h1>index</h1>
<br/>
<br/>
<br/>

<ol>
     <%@list.each do |list| %>
  
  
     <li>   <%= link_to list.title, list %> </li>
  
    
<%  end %>
 </ol>

<%= %>
<br/>
<br/>
<br/>
<%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>
<br/>
<br/>
<br/>