<br/>
<h1><font color="red">Your Lists Index </font></h1>
<br/>
<br/>
<br/>


     <%@lists.each do |list| %>
  
  
   <p> <%= link_to list.title, list %></p>
  
    
<%  end %>
 

<%= %>
<br/>
<br/>
<br/>
<%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>
<br/>
<br/>
<br/>
