<h3> Items For: </h3><br/>
<h3> <%= " #{@list.title}" %> </h3><br/><br/>

<% @item1.each  do |itemm| %>

<h4> <%= itemm.name %>  | <%= link_to "Delete Item", @item_del , method: :delete,  data: { confirm: 'Are you sure you want to delete this list?' } %> </h4> 


<%= link_to "Edit", edit_list_item_path(@list, itemm ), class: 'btn btn-success' %>

<%end%>

<br/>


 